body {
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0;
    background: #ededed;
}
.container {
    max-width: 982px;
    min-width: 400px;
    width: 100%;
    margin: 0 auto;
    line-height: 1.7;
}
.header {
    background: #474747;
    position: relative;
}
.text-header {
    padding: 34px 0;
    color: #c6c6c6;
    font-size: 22px;
    line-height: 1.7;
    box-sizing: border-box;
}
.data-center {
    position: absolute;
    top: -10px;
    right: 187px;
    box-sizing: border-box;
    padding: 25px 50px;

    background: #2f549b;
    -webkit-box-shadow: 0px 2px 9px 0px rgba(19, 19, 19, 0.55);
    -moz-box-shadow:    0px 2px 9px 0px rgba(19, 19, 19, 0.55);
    box-shadow:         0px 2px 9px 0px rgba(19, 19, 19, 0.55);

}
.data-number {
    font-size: 85px;
    font-weight: normal;
    color: #fff;
    margin: 0;
}
.data-number::before {
    content: "";
    background: url("../images/pic-hd-boch.png") no-repeat;
    width: 75px;
    height: 72px;
    display: inline-block;
    padding: 37px;
    box-sizing: border-box;
}
.data-text {
    color: #c6c6c6;
    font-size: 34px;
    line-height: 32px;
    display: inline-block;
}
/*** Promo ***/
.promo {
    text-align: center;
    margin: 70px 0;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-around;
}
.box {
    width: 23%;
    background: #fff;
    padding: 20px 25px 0;
    box-sizing: border-box;
    margin: 5px;
    box-shadow: 0px  0 2px 0px rgba(19, 19, 19, 0.25);
}
.promo-main {
    color: #2f549b;
    font-size: 34px;
    margin: 20px 0 0;
}
.promo p {
    font-size: 16px;
    color: #2f549b;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
    margin: 0;
}
.promo span {
    color: #5e5e5e;
    font-size: 16px;
    display: block;
    padding-top: 18px;
}
.btn {
    display: block;
    padding: 11px;
    color: #d5d5d5;
}
.text-modif-1 {
    margin-top: 34px;
}
.text-modif-2 {
    margin-top: 18px;
}
.text-modif-3 {
    margin-top: 24px;
}
.text-modif-4 {
    margin-top: 41px;
}
/*** Info ***/
.info {
    margin-top: 40px;
    background: #c6c6c6;
    -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    inset 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow:         inset 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    position: relative;
    padding: 30px 0;
    text-align: center;
}
.main-info {
    position: absolute;
    top: -42px;
    left: 43%;
    font-size: 24px;
    color: #fff;
    background: #2f549b;
    padding: 5px 15px;
    box-sizing: border-box;
    font-weight: normal;
}
.info-box {
    border-radius: 3px;
    width: 140px;
    padding: 25px 15px;
    box-sizing: border-box;
    margin: 0 5px;
}
.icon {
    background: url("../images/bg-icon.png") top center no-repeat;
    width: 62px;
    height: 62px;
    margin: 11px 10px 18px 23px;
}
.icon-clock {
    background: url("../images/bg-icon.png") 0 22% no-repeat;
}
.icon-str {
    background: url("../images/bg-icon.png") 0 41% no-repeat;
    height: 60px;
    margin-bottom: 19px;
}
.icon-phone {
    background: url(../images/bg-icon.png) 0 57% no-repeat;
    height: 42px;
    margin: 24px;
}
.icon-korz {
    background: url("../images/bg-icon.png") 0 78% no-repeat;
}
.icon-time {
    background: url("../images/bg-icon.png") 0 100% no-repeat;
}
.info-box span {
    color: #8a8a8a;
    font-size: 16px;
}
.info-box:hover {
    background: #2f549b;
    color: #fff;
}
.info-box:hover span {
    color: #fff;
}
